table, tr, td {
	border: 1px solid;
}

td {
	padding: 5px;	
}

th{
	border: 1px solid;
	padding: 5px;
}

.edit-btn{
	margin-right: 10px;
	width: 60px;
}

table input{
	outline: none;
	border: none;
	background: none;
}
